<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="node_modules/chart.js/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  </head>
  <body>
    <div style="text-align:center">
      <h1>
        Welcome to {{title}}! 
      </h1>
      <h4><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></h4>
    </div>

      <div class="form-group">
        <input style="width: 250px;" type="text" placeholder="Search for Location Here!" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search>
        <br><br>
      </div>

    <div>
      <p><input ng-readonly="result.location" [(ngModel)]="loc.latitude" placeholder="Latitude"></p>
      <p><input ng-readonly="result.location" [(ngModel)]="loc.longitude" placeholder="Longitude"></p><br>
      <button (click)="findWeather(loc)">Search</button> <button (click)="refreshGrid()">Refresh Grid</button>
      <br>
      <p>{{result.location}}<br><br>
          Now: {{result.summary}}<br>
          Temperature in Degrees Fahrenheit: {{result.currentTemp}}<br>
          Future: {{result.future}}</p>
      <div>
      <canvas #myChart id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
    </div>
    </div>
  </body>
</html>